
 @-webkit-keyframes tracking-out-expand-fwd-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px) translateY(200px);
            transform: translateZ(300px) translateY(200px);
    opacity: 0;
  }
}
@keyframes tracking-out-expand-fwd-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px) translateY(200px);
            transform: translateZ(300px) translateY(200px);
    opacity: 0;
  }
}


.tracking-out-expand-fwd-bottom {
	-webkit-animation: tracking-out-expand-fwd-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd-bottom 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.app-info {
    position: relative;
    min-height: 100vh;
    padding: 25px;
    color: #fff;
    @media (max-width: 390+px) {
      min-height: 10vh;
    }
}
.fullscreen__content {
  z-index: 2;
  position: relative;
  max-width: 1400px;
  margin: 0px auto;
  min-height: 100vh;
  display: flex;
  padding: 0px 0px 20vh 0px;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 390+px) {
    margin: 0px 0px 0px 0px;
    min-height: 40vh;
  }
  @media (max-width: 412+px) {
    margin: 0px 0px 0px 0px;
    min-height: 40vh;
  } 
}
.app-info h1 {
    cursor: pointer;
    color: #293939e6
}
.app-info h5 {
  font-size: 1.5rem;
  cursor: pointer;
  color: #293939e6
}
.app-info img {
  @media (max-width: 390+px) {
    height: 124px;
    width: 124px;
    margin: -17px -9px;
    box-shadow: 5px 5px 5px 5px #000;
  }
}

.fullscreen__title {
  font-size: 70px;
  margin: 0px 0px 20px 0px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.fullscreen__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.fullscreen__text {
  font-size: 30px;
  line-height: 35px;
  max-width: 50%;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.fullscreen__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}
.fullscreen__image {
  position: relative;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  @media (max-width: 390+px) {
    height: 50%;
  }
  @media (max-width: 412+px) {
    height: 50%;
  }
}
.fullscreen__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}


.app-info:before {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    content: '';
}

