@import '../../style/index.scss';


.bestsellers{
    position: relative;
    // width: 1440px; 
    // margin: -20px 0px 0px 0px;
    // padding: 50px 0px;
    // @media (max-width: $md2+px) {
    //     width:100%;
    //     height: 100%;
    // }
    // @media (max-width: $md4+px) {
    //     width:100%;
    //     height: 100%;
    // }
    
        .title__container {
            font-family: 'Merienda';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            color: #FFF;
            position: relative;
            text-align: center;
            margin-top: 0.5rem;
            // padding-top: 20px;
            border-top: 1px solid #DEDFE1;
            text-align: center;
            padding: 10px 0px;
            position: relative;
            // display:inline-flex;
            // margin: 79px 669px 0px 668px;
            // @media (max-width: 1450+px) {
            //     margin: 5% 0% 0% 47%;
            // }
            // @media (max-width: 1280+px) {
            //     padding: 39px 379px 0px 0px;
            //     margin: 0px 0px 0px 591px;
            // }
            // @media (max-width: 1240+px) {
            //     padding: 39px 0px 0px 0px;
            //     margin: 0px 0px 0px 518px;
            // }
            // @media (max-width: 1024+px) {
            //     margin: 5% 0% 0% 31%; 
            // }
            // @media (max-width: $md2+px) {
            //     margin: 5% 25% 0% 44%;
            // }
            // @media (max-width: $md4+px) {
            //     margin: 5% 25% 0% 37%;
            // }
        }
        .our-best-container {
            display: flex;
            // justify-content: space-between;
            // align-items: flex-start;
            // margin-right: 320px;
            // padding: 39px 0px 0px 350px;
            position: relative;
            padding-bottom: 50px;
            column-gap: 30px;
            // @media (max-width: 1450+px) {
            //     padding: 39px 277px 0px 0px;
            //     margin: 0px 0px 0px 320px;
            // }
            // @media (max-width: 1280+px) {
            //     padding: 39px 434px 0px 0px;
            //     margin: 0px 0px 0px 188px;
            // }
            // @media (max-width: 1240+px) {
            //     padding: 39px 443px 0px 0px;
            //     margin-left: 140px;
            // }
            // @media (max-width: 1024+px) {
            //     padding: 20px 571px 0px 122px;
            //     margin: 0px auto; 
            // }
            @media (max-width: $md2+px) {
                flex-direction: column;
                align-items: center;
            }
            @media (max-width: $md4+px) {
                // margin-right: auto;
                // flex-direction: column;
                // align-items: center;
                // padding: 0;
            }

            .card__item {
                width: 221px;
                min-height: 240px;
                box-shadow: 0 4px 25px rgb(0 0 0 / 25%);
                font-size: 16px;
                font-weight: 300;
                background: rgba(255, 255, 255, 0.65);
                border-radius: 8px;
                position: relative;
                @media (max-width: $md2+px) {
                    margin-top: 10px;
                    
                }
                @media (max-width: $md4+px) {
                    margin-top: 10px;
                }
            }
            .card__item:hover{
                cursor: pointer;
                transition: 1s;
                transform: scale(1.2);
            }
        
            .card__item img {
                margin: 22px 0px 0px 33px;
                position: relative;
                width: 152px;
                height: 130px;
                margin: 22px 0px 0px 33px;
                z-index: 1;
            }
            
            .card__item-title {
                font-family: 'Merienda';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #000000;
                padding: 14px 0px 10px 0px;
            }
            .card__item-price span{
              font-family: 'Merienda';
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: #000000;
              padding: 0px 154px;
            }
            .btn__wrapper {
              padding: 0;
              margin: 5px;
            }
          }
}
    .bestsellers::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(169, 13, 163, 0.22);
    }
