  
.about-info {
    margin-top: 30px;
    padding: 25px;
    border-radius: 2px;
    color: rgba(11, 14, 14, 0.959);
}
.about-image{
    float: left;
    @media (max-width: 479.98+px) {
        width: 150px;
        margin: -17px -9px;
    }
    @media (max-width: 390+px) {
        width: 124px;
        margin: -17px -9px;
    }
}
.about-info img {
    width: 30vh;
    height: 40vh;
    float: right;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 10px #000;
    margin: 110px 18px;
    opacity: 0.6;
    @media (max-width: 479.98+px) {
        margin: 100px 18px;
        display: none;
    }
    @media (max-width: 389.98+px) {
        margin: 80px 48px;
    }
}

.about-info p {
    text-indent: 20px;
    margin: 0;
    @media (max-width: 479.98+px) {
        text-indent: 0;
        font-size: 18px;
        line-height: 20px;
    }
    @media (max-width: 390+px) {
        text-indent: 0;
    }
}
.text {
    padding: 70px 0;
    font-size: 1.5rem;
    line-height: 40px;
}
.text__container {
    color: #fff;
}
.text__title {
    font-size: 40px;
    margin: 0px 0px 30px 0px;
    @media (max-width: 390+px) {
        font-size: 30px;
        margin: -36px 0px 44px 0px;
    }
    @media (max-width: 412+px) {
        font-size: 30px;
        margin: -36px 0px 44px 0px;
    }
}
.text__item {
    overflow: hidden;
    margin: 0px 0px 25px 0px;
}
.text__item:last-child {
    margin: 0;
}